<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<context:component-scan base-package="cn.hytc"></context:component-scan>
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>
		</property>
	</bean>
	<!-- annotation-driven:默认创建了多个对象：RequestMappingHandlerMapping，RequestMappingHandlerAdapter
		也就提供对json格式支持
	 -->
	<mvc:annotation-driven/>

	<bean
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="1"/>
	</bean>

	<!-- FreeMarker配置 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
		<property name="contentType" value="text/html; charset=utf-8"/>
		<property name="cache" value="true" />
		<property name="suffix" value=".ftl" />
		<property name="order" value="0"/><!-- 配置视图解析的顺序 -->
	</bean>

	<bean id="freeMarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!-- 模板的根目录 -->
		<property name="templateLoaderPath" value="/WEB-INF/views/templates"/><!-- freemark模板存放的位置 -->
		<!-- 编码格式  -->
		<property name="defaultEncoding" value="utf-8"/><!-- freemark编码格式 -->
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">1</prop><!--刷新模板的周期，单位为秒 -->
			</props>
		</property>
	</bean>


	<!--&lt;!&ndash; 配置freemarker模版文件前缀，模版文件编码 &ndash;&gt;
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
	<property name="templateLoaderPath" value="/WEB-INF/jsps/"></property>
	<property name="defaultEncoding" value="UTF-8"></property>	
	</bean>
	&lt;!&ndash; 配置freemarker视图解析后缀，页面显示视图编码 &ndash;&gt;
	<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	<property name="suffix" value=".ftl"></property>
	<property name="contentType" value="text/html;charset=utf-8"></property>
	</bean>-->
	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize" value="10240000"></property>
	</bean>
</beans>